/* Import Fonts */

@font-face {
    font-family: Avenir;
    src: url('../assets/avenir.ttf') format('truetype');
}

/**
 * 
 */

/* Styles. Please keep alphabetized */

body {
  overflow-x: hidden;
  font-family: Avenir, sans-serif;
}

h1 {
  font-size: 15vh;
  color: #FFFFFF;
  font-weight: bold;
}

#hero {
  position: relative;

  img {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
  }
}

section {
  width: 100vw;
  height: 100vh;
  padding: 25px;
  padding-left: 150px;

  &:nth-of-type(even) {
    background-color: #bdce46;
  }
}

#what img {
  height: 100vh;
  float: left;
  margin: 0 -80px;
}

#team {
  text-align: center;

  .team-member {
    display: inline-block;
    margin: 0px 25px 0px 0px;
    transform: translate(0, 57%);

    img {
      height: 250px;
      border-radius: 125px;
    }

    .name {
      font-weight: bold;
      color: #bdce46;
      font-size: 2em;
      margin-bottom: 0;
      margin-top: 0.7em;
    }

    .role {
      font-size: 1.2em;
      margin-top: 0.5em;
    }
  }
}

$green: #bdce46;

/* 
 * Navigation Bar Styles 
 */

$nav_height: 50px;
$corner: 20px;
$r1: 5px;
header {
  float: left;
  height: $nav_height + $corner;
  width: auto;
}

.nav-bar {
  float: left;
  position: fixed;
  z-index: 3;
  width: 100%;
  display: block-inline;
  .centering {
    text-align: center;
    width: auto;
    ul {
      float: left;
      overflow: hidden;
      width: auto;
      display: inline-block;
      margin: 0;
    }
    li { 
      height: $nav_height + $corner; 
      list-style: none;
    }
    #logo {
      height: 0;
      a { display: block;}
      &:hover { cursor: pointer;}
    }
    .nav-bar-item {
      float: left;
      position: relative;
      left: 0;
      -moz-transition: opacity 0.75s ease-in-out;
        -webkit-transition: opacity 0.75s ease-in-out;
      transition: opacity 0.75s ease-in-out;
        & #home {
          &:hover {
            cursor: default;
            a { color: $green; cursor: default; }
          }
        }
        a {
          display: block;
          padding: 13px 15px 13px 15px;
          margin-top: $corner;
          font: 500 17px Avenir, "Helvetica", "Arial", sans-serif;
          color: $green;
          text-decoration: none;
          -moz-transition: margin-top 0.2s ease;
          -webkit-transition: margin-top 0.2s ease;
          transition: margin-top 0.2s ease;
          &:hover {
            cursor: pointer;
            & { margin-top: $corner - 2;}
            -moz-transition: margin-top 0.2s ease;
            -webkit-transition: margin-top 0.2s ease;
            transition: margin-top 0.2s ease;
          }
          &.active:hover {
            cursor: default;
            a { cursor: default; }
          }
        }
    }
  }
  #circle {
    float: right;
    position: fixed;
    width: $r1 * 2;
      height: $r1 * 2;
      -webkit-border-radius: $r1;
      -moz-border-radius: $r1;
      border-radius: $r1;
      background-color: $green;
      top: $corner;
      -moz-transition: left 0.5s, width 0.5s, height, 0.5s;
      -webkit-transition: left 0.5s, width 0.5s, height, 0.5s;
      transition: left 0.5s, width 0.5s, height, 0.5s;
      &:hover {cursor: pointer;}
  }
}

@media screen and (min-width: 768px) { 
  html { font-size: 112%; }
    .nav-bar {
      background-color: (255, 255, 255, 1.0);
      display: inline-block;
      .centering {
        ul {
          float: right;
          width: auto;
          margin-right: $corner / 2;
        }
        .nav-bar-item {
          a {
            padding: 15px 20px 13px 20px;
            font: 500 16px Avenir, "Helvetica", "Arial", sans-serif;
          }
      }
    }
    #logo {
      float: left;
      position: relative;
      width: $nav_height + $corner;
      background-size: contain; 
      height: $nav_height + $corner;
      z-index: 2;
      -moz-transition: opacity 0.75s ease-in-out;
        -webkit-transition: opacity 0.75s ease-in-out;
      transition: opacity 0.75s ease-in-out;
      a {display: block;}
      &:hover {cursor: pointer;}
    }
  }
}