/* Import Fonts */
@font-face {
  font-family: 'MarkOT';
  src: url("../assets/fonts/MarkOT.eot");
  /* IE9 Compat Modes */
  src: url("../assets/fonts/MarkOT.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/MarkOT.woff") format("woff"), url("../assets/fonts/MarkOT.ttf") format("truetype"), url("../assets/fonts/MarkOT.svg#MarkOT") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: 'MarkOT-Bold';
  src: url("../assets/fonts/MarkOT-Bold.eot");
  /* IE9 Compat Modes */
  src: url("../assets/fonts/MarkOT-Bold.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/MarkOT-Bold.woff") format("woff"), url("../assets/fonts/MarkOT-Bold.ttf") format("truetype"), url("../assets/fonts/MarkOT-Bold.svg#MarkOT-Bold") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: normal; }
/**
 * Reset.css
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* Clearfix */
.clearfix, .clearfix:before, .clearfix:after {
  zoom: 1; }
  .clearfix:before, .clearfix:after {
    content: "\0020";
    display: block;
    height: 0; }
  .clearfix:after {
    clear: both; }

/**
 * 
 */
/* Styles. Please keep alphabetized */
body {
  overflow-x: hidden;
  font-family: 'MarkOT', sans-serif; }

h1 {
  margin-top: 0;
  margin-bottom: 25px; }

h1, h2, h3 {
  color: #9bd3aa;
  font-family: 'MarkOT-Bold', sans-serif; }

p {
  font-size: 0.750em;
  color: #222; }

#hero {
  position: relative;
  height: 100vh;
  padding: 0; }
  #hero .middle-center {
    padding: 0 30px;
    margin-top: 40vh; }
    #hero .middle-center .intro {
      font-family: 'MarkOT';
      color: #444;
      font-size: 1.79em; }
      #hero .middle-center .intro strong {
        color: #9bd3aa; }
    #hero .middle-center p {
      color: #777; }
  #hero img {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%; }

@media only screen and (min-width: 768px) {
  #hero .middle-center {
    margin-top: 19%; }
    #hero .middle-center .intro {
      font-size: 4.0em; }
    #hero .middle-center p {
      font-size: 1.2em; }
  #hero img {
    position: static;
    max-height: 60vh;
    width: auto; } }
@media only screen and (min-width: 1024px) {
  #hero .middle-center {
    margin-top: 15%; }
    #hero .middle-center .intro {
      font-size: 4.0em; }
    #hero .middle-center p {
      font-size: 1.2em; }
  #hero img {
    position: static;
    max-height: 70vh;
    width: auto; } }
#demo {
  border-top: 1px solid #f0f0f0; }
  #demo iframe {
    max-height: 90vh;
    max-width: 90vw; }

#overview {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #F7F7F7; }
  #overview img {
    margin: 0 auto;
    width: 100%; }
  #overview p {
    color: #777; }
  #overview .overview-title {
    color: #222;
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 0.938em;
    font-weight: bold; }

#problem .row .info-container {
  padding-top: 15px;
  padding-bottom: 15px; }
  #problem .row .info-container .info-title {
    color: #222;
    font-size: 0.938em;
    padding-bottom: 7px;
    font-weight: bold; }
  #problem .row .info-container .info-text {
    font-size: 0.750em;
    line-height: 1.25em;
    max-width: 300px;
    margin: 0 auto;
    color: #777; }
#problem svg {
  width: 100px;
  height: 100px;
  margin-bottom: 10px; }
#problem h2 ~ h2 {
  margin-top: 5%; }

@media only screen and (min-width: 768px) {
  #problem {
    padding: 60px 40px; }
    #problem svg {
      margin-bottom: 20px;
      width: 200px;
      height: 200px; } }
@media only screen and (min-width: 1024px) {
  #problem .row .info-container .info-title {
    font-size: 1.375em;
    padding-bottom: 7px; }
  #problem .row .info-container .info-text {
    font-size: 1.0em;
    line-height: 1.25em;
    max-width: 350px; } }
#video {
  padding: 30px 0;
  background-color: white;
  border-top: 1px solid #f0f0f0; }
  #video iframe {
    max-width: 95vw;
    max-height: 80vh; }
  #video p {
    padding-top: 20px; }

@media only screen and (min-width: 768px) {
  #video {
    padding: 50px 0; } }
#documents {
  padding-top: 20px;
  padding-bottom: 20px; }
  #documents h2 {
    padding-bottom: 5px; }
  #documents .document-container {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 20px;
    border-radius: 5px;
    background: rgba(232, 232, 232, 0.5);
    border-bottom: 3px solid #9bd3aa; }
    #documents .document-container a {
      font-size: 0.50em;
      display: block; }
    #documents .document-container p {
      padding-bottom: 10px;
      font-weight: bold;
      font-size: 0.938em; }
    #documents .document-container .row {
      max-width: 240px;
      margin: 0 auto; }
    #documents .document-container .doc-left {
      padding-right: 5px; }
    #documents .document-container .doc-right {
      padding-left: 5px; }
    #documents .document-container .icon {
      width: 70px;
      height: 70px;
      margin: 10px auto;
      border-radius: 35px;
      background-color: white;
      border: 2px solid #9bd3aa;
      -moz-transition: all 0.3s;
      -webkit-transition: all 0.3s;
      transition: all 0.3s; }
      #documents .document-container .icon:hover {
        background-color: #9bd3aa; }
        #documents .document-container .icon:hover .fa {
          color: white; }
      #documents .document-container .icon .fa {
        color: #9bd3aa;
        line-height: 70px; }
      #documents .document-container .icon .fa-television {
        padding-left: 3px; }

@media only screen and (min-width: 768px) {
  #documents {
    padding: 40px; }
    #documents h2 {
      padding-bottom: 40px; }
    #documents .row {
      max-width: 1200px;
      margin: 0 auto;
      padding-bottom: 20px; }
    #documents .document-container {
      width: 45%;
      margin: 0 2.5%;
      padding: 30px; }
      #documents .document-container a {
        font-size: 0.6em; }
      #documents .document-container p {
        font-size: 1.250em;
        padding-bottom: 20px; }
      #documents .document-container .row {
        max-width: 400px;
        margin: 0 auto;
        padding-bottom: 0; }
      #documents .document-container .doc-left {
        padding-right: 10px; }
      #documents .document-container .doc-right {
        padding-left: 10px; }
      #documents .document-container .btn {
        padding: 10px 18px; } }
@media only screen and (min-width: 1024px) {
  #documents .document-container .icon {
    width: 120px;
    height: 120px;
    margin: 20px auto;
    border-radius: 60px; }
    #documents .document-container .icon .fa {
      line-height: 120px; }
    #documents .document-container .icon .fa-television {
      padding-left: 7px; }
    #documents .document-container .icon .fa-file-text-o {
      padding-left: 4px; }
  #documents .document-container a {
    font-size: 1.0em; }
  #documents .document-container .btn {
    padding: 10px 25px; } }
section {
  width: 100vw;
  padding: 30px;
  text-align: center;
  overflow: hidden; }
  section h2 {
    padding-bottom: 20px; }

@media only screen and (min-width: 768px) {
  section {
    padding: 30px; } }
#team {
  text-align: center;
  background-color: #F7F7F7; }
  #team .team-member {
    display: inline-block;
    margin: 0px 0px 0px 0px; }
    #team .team-member img {
      height: 100px;
      border-radius: 50px; }
    #team .team-member .name {
      font-weight: bold;
      color: #9bd3aa;
      font-size: 0.925em;
      margin-top: 0.6em;
      margin-bottom: 0.3em; }
    #team .team-member .role {
      padding-bottom: 0.2em;
      font-size: 0.750em; }
  #team .top {
    padding-bottom: 30px; }

@media only screen and (min-width: 480px) {
  #team .row {
    max-width: 400px;
    margin: 0 auto; } }
@media only screen and (min-width: 768px) {
  h1 {
    font-size: 6em; }

  h2 {
    font-size: 2.5em;
    padding-bottom: 30px; }

  h3 {
    font-size: 4em; }

  p {
    font-size: 1.0em;
    line-height: 1.25em; }

  #overview {
    text-align: left; }
    #overview img {
      display: block; }
    #overview p {
      font-size: 0.950em; }
    #overview .overview-title {
      font-size: 1.475em; }

  #team {
    padding: 60px; }
    #team .row {
      max-width: 1200px;
      margin: 0 auto; }
    #team h2 {
      padding-bottom: 30px; }
    #team .team-member img {
      height: 200px;
      border-radius: 100px; }
    #team .team-member .name {
      font-size: 1.5em;
      margin-top: 1.0em;
      margin-bottom: 0.5em; }
    #team .team-member .role {
      padding-bottom: 0.2em;
      font-size: 1.0em;
      line-height: 0.938em; } }
@media only screen and (min-width: 1024px) {
  #overview .overview-title {
    font-size: 1.975em;
    padding-bottom: 25px; }
  #overview p {
    font-size: 1.175em; } }
@media only screen and (min-width: 1024px) {
  #team .team-member {
    padding-bottom: 0px; } }
/* 
 * Navigation Bar Styles 
 */
.nav-bar {
  position: fixed;
  z-index: 3;
  background: #FFF;
  border-bottom: 1px solid #f0f0f0;
  width: 100%;
  text-align: center;
  /* This sets the state for each of the navigation bar items */ }
  .nav-bar ul {
    overflow: hidden;
    display: inline-block;
    list-style: none; }
  .nav-bar li {
    height: 50px; }
  .nav-bar #logo {
    position: fixed;
    height: 70px;
    z-index: 2; }
    .nav-bar #logo a {
      display: block;
      height: 40px;
      margin-top: 15px;
      margin-left: 25px;
      opacity: 1;
      -moz-transition: opacity 0.5s;
      -webkit-transition: opacity 0.5s;
      transition: opacity 0.5s; }
      .nav-bar #logo a:hover {
        opacity: 0.5; }
    .nav-bar #logo img {
      height: 100%;
      width: auto; }
  .nav-bar .nav-bar-item {
    float: left;
    -moz-transition: border 0.5s;
    -webkit-transition: border 0.5s;
    transition: border 0.5s;
    border-top: 4px solid transparent;
    cursor: pointer; }
    .nav-bar .nav-bar-item a {
      display: block;
      padding: 0px 13px;
      margin-top: 21px;
      font: 500 MarkOT, "Helvetica", "Arial", sans-serif;
      font-size: 10px;
      color: #9bd3aa;
      text-decoration: none; }
    .nav-bar .nav-bar-item:hover, .nav-bar .nav-bar-item.active {
      border-top: 4px solid #2fbc5c; }
      .nav-bar .nav-bar-item:hover a, .nav-bar .nav-bar-item.active a {
        color: #004a2a; }
  @media only screen and (min-width: 768px) {
    .nav-bar ul {
      overflow: hidden;
      list-style: none;
      float: right;
      margin-right: 20px; }
    .nav-bar li {
      height: 70px; }
    .nav-bar .nav-bar-item a {
      padding: 0px 20px;
      margin-top: 21px;
      font-size: 16px; } }

/*# sourceMappingURL=style.css.map */
